<!--
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>


<div style="height:170px;width:200px;float:left;inline-block">
    <div>
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
</div>
<div>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-reddit"></a>
</div>
</div>
</body>
-->

<div class="">
    <div class="clearfix">
        <div class="col">
            <fb-like url={{url}}></fb-like>
        </div>
        <div class="col">
            <google-plus url={{url}}></google-plus>
        </div>
        <div class="col">
            <tweet url={{url}} text={{text}}></tweet>
        </div>
        <div class="col">
            <linkedin-share url={{url}}></linkedin-share>
        </div>
        <div class="col">
            <pin-it url={{url}} media={{imageUrl}} description={{text}}></pin-it>
        </div>
    </div>
</div>

