
<app-product-page></app-product-page>

<!--
<hr>

<div style="height:35px;background-color:white;">
    <div style="float:left;">
        <button type="button"><a href="prevpage">Previous Page</a></button>
    </div>


    <div style="height:35px;width:550px;float:left;"></div>
    <div style="float:left;"><p style="color:black;"> Page: 1</p></div>

    <div style="float:right;">
        <button type="button"><a href="nextpage">Next Page</a></button>
    </div>

</div>
<hr/>

<br>
<br>
<hr/>
<div style="height:300px;background-color:white;">

    <div style="height:25px;width:2500px;float:left;"></div>
    <div style="height:250px;width:25px;float:left;"></div>
    <div style="border-style:solid;border-color:black;border-width:3px;background-color:white;height:250px;width:15%;float:left;">
        <a href="trending">Trending </a></div>
    <div style="height:250px;width:35px;float:left;"></div>
    <div style="border-style:solid;border-color:black;border-width:3px;background-color:white;height:250px;width:15%;float:left;">
        <a href="popular">Most Popular </a></div>
    <div style="height:250px;width:35px;float:left;"></div>
    <div style="border-style:solid;border-color:black;border-width:3px;background-color:white;height:250px;width:15%;float:left;"><a href="new">Newly listed products </a></div>
    <div style="height:250px;width:35px;float:left;"></div>
    <div style="border-style:solid;border-color:black;border-width:3px;background-color:white;height:250px;width:15%;float:left;"><a href="recent">Your Recently Viewed </a></div>



</div>

<br/>
<hr/>
-->