
<div style="height:250px;border-style:solid;border-color:black;background-color:#163172;">

<div>
    <h3 style="color:white;">Categories</h3>
</div>

    <hr/>
    <div>
        <!-- border-style:solid;border-color:red;background-color:white; -->
        <div style="height:170px;width:200px;float:left;">
            <p style="color:lightcyan;">
                - Electronics<br/>
                - Furniture<br/>
                - Clothing<br/>
                - Video Games<br/>
                - Tools<br/>
                - Movies<br/>
            </p>
        </div>
        <div style="height:170px;width:200px;float:left;">
            <p style="color:white;">
                - Cookware<br/>
                - Books<br/>
                - Newspapers<br/>
                - Rugs<br/>
                - Misc<br/>
            </p>
        </div>
        <div style="height:170px;width:200px;float:left;"></div>
        <div style="height:170px;width:200px;float:left;">
            <p style="color:white;">
                - Menu<br/>
                - Menu<br/>
                - Menu<br/>
                - Menu<br/>
                - Menu<br/>
            </p>
        </div>
        <div style="height:170px;width:200px;float:left;">
            <p style="color:white;">
                - Guide<br/>
                - Guide<br/>
                - Guide<br/>
                - Guide<br/>
                - Guide<br/>
            </p>
        </div>
        <div style="height:170px;width:200px;float:left;">
            <p style="color:white;">
                - About<br/>
                - About<br/>
                - About<br/>
                - About<br/>
                - About<br/>
            </p>
        </div>
        <div style="height:170px;width:200px;float:left;">
            <p style="color:white;">
                - Facebook<br/>
                - Twitter<br/>
            </p>
        </div>

    </div>
</div>
