<div style="height:150px;border-style:solid;border-color:black;background-color:#163172;">


    <div>
        <div style="height:60px;width:190px;border-style:none;border-color:none;float:left;">
    <a href="/">
            <p style="font-family: Impact, Charcoal, sans-serif;font-size:28px;font-style:italic;font-variant:small-caps;color:white;letter-spacing:2px;">
                354TheStars
            </p>
            </a>

        </div>
    <!--
            <div style="height:150px;width:300px;border-style:none;border-color:none;float:right;background-color:#163172;">
                <h2 class="card-title text-center text-white py-3" >{{ title }}</h2>
                    <div *ngIf="!isLoggedIn">
                        <a routerLink="/login">Login</a>
                    </div>
                    <div *ngIf="isLoggedIn">
                       <a routerLink="/users">{{ this.currentUser }}</a>
                        <a class="nav-link" (click)=logout()>Logout</a>
                    </div>
            </div>
-->

        <!-- login button-->
        <div style="height:150px;width:300px;border-style:none;border-color:none;float:right;background-color:#163172;">

            <div style="width:50px;height:auto;display:inline-block;"></div>
            <p style="color:white;">Register or Login to shop & sell!</p>

            <div style="width:50px;height:auto;display:inline-block;"></div>
            <!--<button type="button" style="height:35px;width:100px;"><a href="registration" >Register</a></button> -->
            <div style="width:10px;height:auto;display:inline-block;"></div>
            <div *ngIf="!isLoggedIn">
                <button type="button" style="height:35px;width:100px;"><a href="/login">Login</a></button>
            </div>
            <div *ngIf="isLoggedIn">
                <button type="button" style="height:35px">{{ this.currentUser }}</button>
                <button type="button" style="height:35px;width:100px;" (click)=logout()>Logout</button>
            </div>
        </div>

    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <!-- Search Bar-->
    <div>
        <div style="display: inline-block">
            <input id = "searchBar" type="search" placeholder="Search 354TheStars.." [(ngModel)] = "searchText" >
            <button *ngIf="searchText != ''" id = "searchButton" type="button" (click) = "setSearchText()" [routerLink]="'/products'"> Search </button>
            <button *ngIf="searchText == ''" id = "searchButton" type="button" (click) = "setSearchText()" [routerLink]="''"> Search </button>
        </div>
    </div>
<button type="button" [routerLink] = "'/cartpage'"name="button">cart</button>
</div>
