<div style="height:250px;border-style:solid;border-color:black;background-color:firebrick;">

<h3 style="color:white;">Categories</h3>

    <div>
<div style="border-style:solid;border-color:red;background-color:white;height:170px;width:200px;float:left;">hello</div>
<div style="border-style:solid;border-color:red;background-color:white;height:170px;width:200px;float:left;">hello</div>
<div style="border-style:solid;border-color:red;background-color:white;height:170px;width:200px;float:left;">menu</div>
<div style="border-style:solid;border-color:red;background-color:white;height:170px;width:200px;float:left;">guide</div>
<div style="border-style:solid;border-color:red;background-color:white;height:170px;width:200px;float:left;">about</div>
<div style="border-style:solid;border-color:red;background-color:white;height:170px;width:200px;float:left;">social media</div>
    </div>









</div>