.product-card {
    width: 300px;
    border-style: solid;
    margin-left: 25%;
}

#wrapper {
    display: inline!important;
    height: 275px;
    max-width: 540px;
}

.box {
    margin: 5px;
    display: inline-block;
    width: 170px;
    height: 275px!important;
    rking text-align: center;
    float: left;
}

.ng-repeat {
    display: inline-block;
}