<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3" >{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/users" class="btn btn-info"> List Users</a></li>
            <div *ngIf="!isLoggedIn">
              <li class="list-inline-item"><a routerLink="/login">Login</a></li>
            </div>
            <div *ngIf="isLoggedIn">
              <li class="list-inline-item"><a routerLink="/login">{{ this.currentUser }}</a></li>
              <li class="list-inline-item"><a class="nav-link" href="/logout" (click)=logout()>Logout</a></li>
            </div>
          </ul>

          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/products" class="btn btn-info"> Product List</a></li>
          </ul>

          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/products" class="btn btn-info"> Product List</a></li>
          </ul>

          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/products" class="btn btn-info"> Product List</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
