<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{ account.id }}</td>
                <td>{{ account.name }}</td>
                <td><a href="mailto:{{ account.email }}">{{ account.email }}</a></td>
                <td><a routerLink="" class="btn btn-info">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>