<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="modal-header">
    <h4 class="modal-title">Update Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf='submitted'>
        <div *ngIf="!loading">
            <div class="alert alert-danger" *ngIf='error'>{{errorMsg}}</div>
            <div class="alert alert-success" *ngIf='!error'>{{successMsg}}</div>
        </div>
    </div>
    <form [formGroup]="pForm" (ngSubmit)="onSubmit()">
        <div class="form-group col">
            <label>Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" name="password" [ngClass]="{'is-invalid': submitted && form.password.errors}"/>
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Confirm Password</label>
            <input formControlName="conPassword" type="password" class="form-control" id="conPassword" name="conPassword" [ngClass]="{'is-invalid': submitted && form.conPassword.errors}"/>
            <div *ngIf="form.conPassword.errors" class="invalid-feedback">
                <div *ngIf="form.conPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="form.conPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
        <div *ngIf='submitted'>
            <div *ngIf="loading">
                <button class="btn btn-primary mr-1" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
            <div *ngIf="!loading&&error">
                <button class="btn btn-primary mr-1">Confirm</button>
            </div>
        </div>
    </form>
</div>