<link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf='submitted'>
        <div *ngIf="!loading">
            <div class="alert alert-danger" *ngIf='error'>{{errorMsg}}</div>
            <div class="alert alert-success" *ngIf='!error'>{{successMsg}}</div>
        </div>
    </div>
    <form [formGroup]="regForm"  (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" name="name" [ngClass]="{'is-invalid': submitted && form.name.errors}"/>
            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                <div *ngIf="form.name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <div class="alert alert-warning" *ngIf='invalidRegistration'>{{errorMsg}}</div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMsg}}</div>
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" id="email" name="email" [ngClass]="{'is-invalid': submitted && form.email.errors}"/>
            <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                <div *ngIf="form.email.errors.required">Email is required</div>
                <div *ngIf="form.email.errors.email">Email must be a in format 'x@x.x'</div>
                <div *ngIf="form.email.errors.notUnique">An account with this email already exists.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" name="password" [ngClass]="{'is-invalid': submitted && form.password.errors}"/>
                <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                    <div *ngIf="form.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group col">
                <label>Confirm Password</label>
                <input formControlName="conPassword" type="password" class="form-control" id="conPassword" name="conPassword" [ngClass]="{'is-invalid': submitted && form.conPassword.errors}"/>
                <div *ngIf="form.conPassword.errors" class="invalid-feedback">
                    <div *ngIf="form.conPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="form.conPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input formControlName="address" type="text" class="form-control" id="address" name="address"/>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input formControlName="city" type="text" class="form-control" id="city" name="city"/>
        </div>
        <div class="form-group">
            <label for="province">Province</label>
            <select formControlName="province" class="form-control" id="province" name="province">
                <option value="Ontario">Ontario</option>
                <option value="Quebec">Quebec</option>
                <option value="Nova Scotia">Nova Scotia</option>
                <option value="New Brunswick">New Brunswick</option>
                <option value="Manitoba">Manitoba</option>
                <option value="British Columbia">British Columbia</option>
                <option value="Prince Edward Island">Prince Edward Island</option>
                <option value="Saskwatchewan">Saskwatchewan</option>
                <option value="Alberta">Alberta</option>
                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
            </select>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input formControlName="country" type="text" class="form-control" id="country" name="country"/>
        </div>
        <div class="form-group">
            <label for="postalCode">Postal Code</label>
            <input formControlName="postalCode" type="text" class="form-control" id="postalCode" name="postalCode"/>
        </div>
        <div class="form-group">
            <label for="postalCode">Phone</label>
            <input formControlName="phone" type="text" class="form-control" id="phone" name="phone"/>
        </div>
        <div *ngIf="!loading">
            <button class="btn btn-primary mr-1">{{ submitBtn }}</button>
        </div>
        <div *ngIf="submitted">
            <div *ngIf="loading">
                <button class="btn btn-primary mr-1" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
</div>