#wrapper {
  display: inline!important;
  height: 275px;
  max-width: 540px;
}
.box {
  margin: 5px;
  display: inline-block;
  width: 170px;
  height: 275px!important;
<<<<<<< HEAD
<<<<<<< HEAD

=======
  background-color: #F5FBEF;
>>>>>>> products organized in a row and display filter working
=======

>>>>>>> Fixed product page bug when sorted
  text-align: center;
  float: left;
}
.ng-repeat {
  display: inline-block;
}
