.product-card {
  width: 300px;
  border-style:solid;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
/*
#button1{
padding:10px;
width:20%;
}

#button2{
padding:10px;
width:20%;
position:relative;
left:845px;
}*/
