<!-- This component lets you add a review, given that you are logged in.-->
<!-- display-review will show all reviews on a product if any-->

<div style="height:500px;width:400px;border-style:solid;border-color:black;">



    <h2>Add your review for this item!!</h2>
    <br/>

    <form (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description" required [(ngModel)]="review.description" name="description">
        </div>

        <div class="form-group">
            <label>Ratings:</label>

            <input type="radio" name="rating" value="5" required [(ngModel)]="review.rating">5
            <input type="radio" name="rating" value="4" required [(ngModel)]="review.rating">4
            <input type="radio" name="rating" value="3" required [(ngModel)]="review.rating">3
            <input type="radio" name="rating" value="2" required [(ngModel)]="review.rating">2
            <input type="radio" name="rating" value="1" required [(ngModel)]="review.rating">1

        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>


</div>